@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: local('Actor Regular'), local('Actor-Regular'), url(http://fonts.gstatic.com/s/actor/v6/lbfQ5Skb-g1BK2njdJ0HIw.ttf) format('truetype');
}
